@{

}

<section class="page-section" id="contact">
    <div class="container">
        @*Contact Section Heading*@
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        @* Contact Section Form *@
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" asp-controller="Main" asp-action="ContactForm">
                    <div class="form-floating mb-3">
                        <input name="FullName" class="form-control" id="name" type="text" placeholder="Enter your name..." />
                        <label for="name">Full name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="Email" class="form-control" id="email" type="email" placeholder="name@example.com" />
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="PhoneNumber" class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" />
                        <label for="phone">Phone number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea name="Message" class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                        <label for="message">Message</label>
                    </div>
                    @* Submit success message
            This is what your users will see when the form-->
            has successfully submitted *@
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="submitButton">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>