@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using Entity.Models*@
@*@model List<Skill>*@

<h1></h1>


@*@foreach (var item in Model)
    {
        <div style="color:red;">@item.Skill.Description</div>

    }*@

@*@foreach (var item in Model)
{
    <div style="color:red">1  @item.Description </div>
}*@


<h2>deneme</h2>
<h2>deneme</h2>
<h2>deneme1</h2>