@using Entity.Context

@{ 
    DatabaseContext db = new DatabaseContext();
    var mainPage = db.MainPages.FirstOrDefault();
}

@* Landing page with Photo *@
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="@mainPage.ImageUrl" alt="..." />
        <h1 class="masthead-heading text-uppercase mb-0">@mainPage.FullName</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading font-weight-light mb-0">@mainPage.ShortTitle</p>
    </div>
</header>