@using Entity.Context

@{
    DatabaseContext db = new DatabaseContext();
    var skills = db.Skills.ToList();
}


<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            @* Getting the Skills data *@
            @foreach (var item in skills)
            {
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal-@item.Id">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="@item.ImageSkill" alt="..." />
                    </div>
                </div>
            }
        </div>
        @* The pop up page that contains details of skills *@
        <partial name="Skills-Details">
    </div>
</section>


